<div class="container">

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Nombre del cliente" [(ngModel)]="loan.client" name="client" required>
            <mat-error>El nombre no puede estar vacío</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Nombre del juego" [(ngModel)]="loan.name" name="name" required>
            <mat-error>El nombre no puede estar vacío</mat-error>
        </mat-form-field>

            <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="Fecha inicio" [(ngModel)]="loan.date1" name="date1" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error>La fecha no puede estar vacía</mat-error>
                </mat-form-field>
            
                <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Fecha fin" [(ngModel)]="loan.date2" name="date2" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error>La fecha no puede estar vacía</mat-error>
                </mat-form-field>
            
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
